albumentations==1.4.11
numpy==1.26.4
opencv_python_headless==4.10.0.84
scikit_learn==1.5.1
pandas==2.2.2
matplotlib==3.9.1
seaborn==0.13.2
nvidia-cudnn-cu11==8.7.0.84
torch==2.3.1+cu118
torchvision==0.18.1+cu118
torchtext==0.18.0
tensorboardX==2.6.2.2
jupyterlab==4.2.3
timm==1.0.7
transformers==4.42.3
tokenizers==0.19.1
prettytable==3.10.0
